<nav><%= link_to 'sign out', signout_path %></nav>

<div class="blocks">

  <h2>your blocks</h2>
  <ul class="block-list">   
    <% @blocks.each do |block| %>
      <li>@<%= block["screen_name"] %>, <%= block["name"] %><br>
        <%= block["created_at"] %><br>
        <button class="unblock" href="#">unblock</button></li>
    <% end %>
  </ul>

  <h2>recent mentions</h2>
  <ul class="block-list">
    <li>Current user: <%= @current_user.twitter_screen_name %></li>
    <% @mentions.each do |mention| %>
      <li>@<%= mention["user"]["screen_name"] %>: <%= mention["text"] %></li>
    <% end %>
  </ul>

</div>
