<nav><span class="notice"><%= notice %></span> <span class="blockparty">block party | <%= link_to 'sign out', signout_path %></span></nav>

<div class="blocks">

  <h2>your blocks</h2>

    <ul class="block-list">  
      <% if @blocks != [] %> 
        <% @blocks.each do |block| %>
          <li class="unblock" id="<%= block.id %>" >@<%= block.screen_name %>, <%= block.name %><br>
            <button class="unblock-button">unblock</button></li>
        <% end %>
      <% else %>
        <li>You have no blocked users.</li>
      <% end %>
    </ul>

  <h2>recent mentions</h2>
  <ul class="block-list">
    <% @mentions.each do |mention| %>
      <li>@<%= mention.user.screen_name %>: <%= mention.text %></li>
    <% end %>
  </ul>

</div>
