<%= render 'layouts/nav' %>

<div class="blocks">

  <h2>your blocks</h2>

    <ul class="block-list">  
      <% if @blocks != [] %> 
        <% @blocks.each do |block| %>
          <li class="unblock" id="<%= block.id %>" >@<%= block.screen_name %>, <%= block.name %><br>
            <button class="unblock-button">unblock</button></li>
        <% end %>
      <% else %>
        <li>You have no blocked users.</li>
      <% end %>
    </ul>

  <h2>recent mentions</h2>
  <ul class="block-list">
    <% @mentions.each do |mention| %>
      <li>@<%= mention.user.screen_name %>: <%= mention.text %></li>
    <% end %>
  </ul>

</div>

<div class="menu">
  <ul>
    <li><%= link_to "view saved trigger tweets", tweets_path %></li>
    <li><%= link_to "set a new trigger word", words_path %></li>
  </ul>
</div>
